<div class="white-container">
  <header class="citas-disponibles-header">
    <h1>Citas disponibles</h1>
    <div>
      <button class="btn btn-orange citas-disponibles-confirm-btn" [disabled]="selectedCell.day < 0 && selectedCell.hour < 0" (click)="confirmCita()">Continuar</button>  
    </div>
  </header>
  <div class="mt-5 week-nav-container">
    <button class="btn btn-blue"><img src="/assets/images/arrow-icons/left-arrow.svg">Semana anterior</button>  
    <button class="btn btn-blue">Siguiente semana <img src="/assets/images/arrow-icons/right-arrow.svg"></button>  
  </div>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th scope="col" class="special-cell"></th>
        <th scope="col" class="time-title column-width" *ngFor="let day of days">{{day.date | dayNumberPipe | titlecase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of hours.slice(0,7); let hourIdx = index">
        <th scope="row" class="time-row"><span>{{hour.start | date: 'HH:mm'}}</span><span>{{hour.end | date: 'HH:mm'}}</span></th>
        <td *ngFor="let state of tableContent[hourIdx]; let dayIdx = index" [ngClass]="{
          'celda-ocupada': state === 0,
          'celda-libre': state === 1,
          'celda-seleccionada': state === 2,
          'selectable' : days[dayIdx].enabled
        }" (click)="changeCellState(hourIdx, dayIdx)"></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered mt-4">
    <tbody>
      <tr scope="row" *ngFor="let hour of hours.slice(7,hours.length); let hourIdx = index">
        <th class="time-row"><span>{{hour.start | date: 'HH:mm'}}</span><span>{{hour.end | date: 'HH:mm'}}</span></th>
        <td class="column-width" *ngFor="let state of tableContent[hourIdx+7]; let dayIdx = index" [ngClass]="{
          'celda-ocupada': state === 0,
          'celda-libre': state === 1,
          'celda-seleccionada': state === 2,
          'selectable' : days[dayIdx].enabled
        }" (click)="changeCellState(hourIdx + 7, dayIdx)"></td>
      </tr>
    </tbody>
  </table>
</div>
