<header class="header">
  <a class="header-link" [routerLink]="['/main-page']">
    <img class="header-logo" src="assets/images/logo.svg">
    <span>VIUPets</span>
  </a>
  <div *ngIf="userId" class="header-user dropdown" id="dropdownMenu2" data-bs-toggle="dropdown">
    <img src="assets/images/user-logo.svg">
    <span>{{userName}}</span>
  </div>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li class="dropdown-item-container" (click)="redirectOnClick('/user')">
      <img src="assets/images/menu-icons/user.svg">
      <span >Ver perfil</span>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="dropdown-item-container" (click)="redirectOnClick('/user/mascotas')">
      <img src="assets/images/menu-icons/mascotas.svg" >
      <span >Mascotas</span>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="dropdown-item-container" (click)="redirectOnClick('/user/citas-programadas')">
      <img src="assets/images/menu-icons/citas.svg">
      <span >Citas</span>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="dropdown-item-container"(click)="redirectOnClick('/tienda')">
      <img src="assets/images/menu-icons/tienda.svg">
      <span >Visitar tienda</span>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="dropdown-item-container" (click)="logOut()">
      <img src="assets/images/menu-icons/log-out.svg">
      <span >Cerrar sesión</span>
    </li>
  </ul>
</header>
