<div class="d-flex justify-content-between">
  <button type="submit" class="btn btn-orange mt-4" (click)="altaMascota()">
    Añadir mascota
  </button>
</div>
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="tarjetas-container row">
      <div class="col-md-4 mt-4" *ngFor="let mascota of mascotas">
        <div class="card efectos" (click)="detalleMascota(mascota)">
          <div class="row">
            <div class="col-md-4 m-2">
              <img
                class="imgTam"
                [src]="'../../../../assets/images/mascotas/' + mascota.imagen"
              />
            </div>
            <div class="col-md-4 m-2">
              <div class="imgTam">
                <p>{{ mascota.nombre_mascota }}</p>
                <p>{{ mascota.num_chip }}</p>
                <p>{{ mascota.especie }}</p>
              </div>
            </div>

            <div class="d-flex justify-content-center mt-5 mb-4">
              <button
                type="submit"
                class="btn btn-orange mx-2 d-inline-block rounded-circle"
                matTooltip="Editar Mascota"
                (click)="editarMascota(mascota); $event.stopPropagation()"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                type="submit"
                class="btn btn-orange mx-2 d-inline-block rounded-circle"
                matTooltip="Eliminar Mascota"
                (click)="
                  eliminarMascota(mascota.num_chip); $event.stopPropagation()
                "
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-message [message]="this.message" [error]="this.error"></app-message>
</div>
