<div class="mt-5 week-nav-container">
    <div >
      <button class="btn btn-blue" [disabled]="shownWeek === 0" (click)="changeWeek('previous')"><img src="/assets/images/arrow-icons/left-arrow.svg">Semana anterior</button>  
      <button class="btn btn-blue" (click)="changeWeek('next')">Siguiente semana <img src="/assets/images/arrow-icons/right-arrow.svg"></button>  
    </div>
    <span>{{days[0] | monthNamePipe | titlecase}}</span>
  </div>
  <table class="table table-bordered mt-3">
    <thead>
      <tr class="table-head-row">
        <th scope="col" class="special-cell"></th>
        <th scope="col" class="time-title column-width" *ngFor="let day of days">{{day | dayNumberPipe | titlecase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of hours.slice(0,7); let hourIdx = index">
        <th scope="row" class="time-row"><span>{{hour.start | date: 'HH:mm'}}</span><span>{{hour.end | date: 'HH:mm'}}</span></th>
        <td *ngFor="let state of tableContent[hourIdx]; let dayIdx = index" [ngClass]="{
          'celda-ocupada': state === 0,
          'celda-libre': state === 1,
          'celda-seleccionada': state === 2
        }"></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered mt-4">
    <tbody>
      <tr scope="row" *ngFor="let hour of hours.slice(7,hours.length); let hourIdx = index">
        <th class="time-row"><span>{{hour.start | date: 'HH:mm'}}</span><span>{{hour.end | date: 'HH:mm'}}</span></th>
        <td class="column-width" *ngFor="let state of tableContent[hourIdx+7]; let dayIdx = index" [ngClass]="{
          'celda-ocupada': state === 0,
          'celda-libre': state === 1,
          'celda-seleccionada': state === 2
        }"></td>
      </tr>
    </tbody>
  </table>