.time-row {
    display: flex;
    flex-direction: column;
    max-width: 64px;
    box-sizing: border-box;
}

.time-title {
    text-align: center;
}

.table-head-row {
    border-top: none;
}

.table-head-row > th:not(:first-child) {
    border-top: 1px solid #e6e9ec;
}

.special-cell {
   width: 56px;
   border-top: none;
   border-left: none;
}

.column-width {
    width: 20%;
}

.citas-disponibles-confirm-btn {
    font-size: 1.4rem;
    width: 10.5rem;
}

.citas-disponibles-header {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.celda-ocupada {
    background-color: rgba(255, 126, 103, 0.5);
    /* Falta opacity = 50% */
    font-size: 15px;

}

.celda-ocupada > div {
    display: flex;
    flex-direction: column;
}

.week-nav-container {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.week-nav-container > div {
    display: flex;
}

.week-nav-container > div > button {
    width: 224px;
    display: flex;
    justify-content: space-around;
}

.week-nav-container > span {
    font-size: 22px;
}

.week-nav-container >div > button:first-child {
    margin-right: 1.5rem;
}

.week-nav-container > div > button{
    display: flex;
    align-items: center;
}

.week-nav-container > div > button > img{
    display: flex;
    align-items: center;
}