<div class="white-container">
    <h1>Perfil de {{user.nombre}}</h1>
    <div class="user-nav-bar mt-4 mb-4">
        <div class="user-nav-bar__tab" 
            [routerLink]="['/user']" 
            routerLinkActive="user-nav-bar__active-tab"
            [routerLinkActiveOptions]="{exact:true}"
        >
            <span>Datos personales</span>
        </div>
        <div class="user-nav-bar__tab" 
            [routerLink]="['/user/mascotas']" 
            routerLinkActive="user-nav-bar__active-tab"
            [routerLinkActiveOptions]="{exact:true}"
        >
            <span>Mascotas</span>
        </div>
        <div class="user-nav-bar__tab" 
            [routerLink]="['/user/citas-programadas']" 
            routerLinkActive="user-nav-bar__active-tab"
            [routerLinkActiveOptions]="{exact:true}"
        >
            <span>Citas programadas</span>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
