<main class="viupets">
    <header class="header">
      <a class="header-link" [routerLink]="['']">
        <img class="header-logo" src="assets/images/logo.svg">
        <span>VIUPets</span>
      </a>
  </header>
  <router-outlet></router-outlet>
  <footer class="footer">
    <span><strong>Autores: </strong></span>
    <span>Andrea del Vado Puell</span>
    <span>|</span>
    <span>Joaquín Ángel Tejero Cañero</span>
    <span>|</span>
    <span>Pablo Vázquez Fernández</span>
  </footer>
</main>
