.viupets {
  --dark-blue: #07689F;
  --light-blue: #A2D5F2;
  --orange: #FF7E67;
  --text-color: #2A2A2A;
  --dark-white: #FAFAFA;
  --light-grey: #e6e2e2;
  color: var(--text-color);
  background-color: var(--dark-white);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.footer {
  margin-top:auto;
  padding: 1rem 1.5rem;
  width: 100vw;
  font-size: 1.15rem;
  background-color: var(--light-blue);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}