<div class="white-container">
  <h1>¡Bienvenido!</h1>
  <p>En VIUpets damos el mejor servicio de cuidado de mascotas. Con nuestra nueva aplicación podrás pedir cita de manera rápida y eficiente o modificar las citas ya pedidas. 
    <span>{{infoText}}</span>
  </p>
  <div *ngIf="userLogged; else loggedOut">
    <button type="button" class="btn btn-orange">Pedir nueva cita</button>
    <button type="button" class="btn btn-orange-contrast">Consultar citas pedidas</button>
  </div>
  <ng-template #loggedOut>
    <button type="button" class="btn btn-orange">Iniciar sesión</button>
    <button type="button" class="btn btn-orange-contrast">Registrarse</button>
  </ng-template>
</div>
