<div class="white-container">
  <h1>¡Bienvenido!</h1>
  <p class="main-page__text">En VIUpets damos el mejor servicio de cuidado de mascotas. Con nuestra nueva aplicación podrás pedir cita de manera rápida y eficiente o modificar las citas ya pedidas. 
    <span>{{infoText}}</span>
  </p>
  <div class="main-page__button-container">
    <ng-container *ngIf="userId; else loggedOut">
      <button type="button" class="btn btn-orange main-page__button--margin-right main-page__button--logged-in" (click)="redirectOnClick('/citas-disponibles')">Pedir nueva cita</button>
      <button type="button" class="btn btn-orange-contrast main-page__button--logged-in main-page__button--margin-left" (click)="redirectOnClick('/user/citas-programadas')">Consultar citas pedidas</button>
    </ng-container>
    <ng-template #loggedOut>
      <button type="button" class="btn btn-orange main-page__button--logged-out main-page__button--margin-right" (click)="redirectOnClick('/inicio-sesion')">Iniciar sesión</button>
      <button type="button" class="btn main-page__button--logged-out btn-orange-contrast main-page__button--margin-left" (click)="redirectOnClick('/registro-usuario')">Registrarse</button>
    </ng-template>
  </div>

  <!-- Carrusel bootstrap -->
  <div id="mainPageCarrusel" class="carousel slide main-page__carrusel" data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="assets\images\panel1-carrusel.svg" class="d-block w-100">
      </div>
      <div class="carousel-item ">
        <img src="assets\images\panel2-carrusel.svg" class="d-block w-100">
      </div>
    </div>
  </div>
</div>
