/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.white-container {
  margin: 1rem 3rem;
  background-color: white;
  border-radius: 3px;
  min-height: 75vh;
  max-width: 85vw;
  padding: 2rem 5rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.info-container {
  border: 1px solid var(--text-color);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

/* Colores clases botones */

.btn-orange {
  background-color: var(--orange);
  color: var(--dark-white);
  border: 2px solid var(--orange);
  font-size: 18px;
  font-weight: 600;
}

.btn-orange-contrast {
  background-color: var(--dark-white);
  border: 2px solid var(--orange);
  font-weight: 600;
  font-size: 20px;
}

.btn-blue {
  background-color: var(--light-blue);
  color: #034971;
  border: 1px solid var(--dark-blue);
  font-size: 18px;
}

.btn-orange-contrast:hover {
  color: var(--orange);
}

h1 {
  font-size: 48px;
  font-weight: 600;
}